<ul>
  <% @postings.each do |posting| %>
    <li class='gallery_list'>
      <div class='gallery_img_list'>
        <%= image_tag posting.photo.image.url, class: 'gallery_img' %>
      </div>
      <div class='gallery_bottom_info'>
        <%= posting.body %>
      </div>
    </li>
  <% end %>
</ul>


<% raise %>
