/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require font-awesome
 *= require_self
 */

 ul {
    list-style: none;
    margin-top: 50px;
    margin-left: -30px;
    margin-bottom: 70px;

    .gallery_list {
      border-radius: 3px;

      .user_name {
        padding: 7px 0;
        margin-left: 5px;
      }

      .gallery_img_list {
        .gallery_img {
          width: 100%;
          overflow: hidden;
        }
      }
    }

    .gallery_bottom_info {
      position: relative;
      padding-top: 5px;
      padding-bottom: 15px;
      color: #565a5c;

      .book_name {
        font-size: 18px;
        margin-bottom: 25px;
      }

      .price {
        font-size: 22px;
      }

      .owner_image {
        position: absolute;
        border-radius: 33px;
        top: -15px;
        right: 5px;
      }
    }
  }
